@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

body {
    background-color: #25252B;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fget.wallhere.com%2Fphoto%2Fsimple-simple-background-minimalism-black-background-sunset-mountains-digital-art-1382917.jpg&f=1&nofb=1');
    background-position: center;
    background-attachment: fixed;
    color: white;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poiret One', sans-serif;
}

#time-container {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.time-section {
    width: 100%;
    display:flex;
    justify-content: center;
}

#time {
    padding-top:130px;
    font-size: 100px;
}

#day {
    font-size: 20px;
    padding-right: 5px;
    font-family: 'Turret Road', sans-serif;
}

#date {
    font-size: 20px;
    font-family: 'Turret Road', sans-serif;
}

#greeting {
    padding:20px 0px 10px 0px;
    font-size: 40px;
    font-family: 'Megrim', sans-serif;
}

#link-container {
    width:100%;
    padding-top:20px;
    display:flex;
    justify-content:center;
}

#links {
    width:70%;
    display:flex;
    justify-content: space-between;
}

a:link{
    color:white;
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid white;
    padding:10px;
}

a:visited{
    color:white;
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid white;
    padding:10px;
}

a:hover{
    color:white;
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid white;
    padding:10px;
}

a:active{
    color:white;
    text-decoration: none;
    border-radius: 25px;
    border: 1px solid white;
    padding:10px;
}
